extends layout.pug

block content

  main.main-page.main-page--padding
    section.main-page__category.category
      h1.category__title Категории
      .category__add-form
        form(action='/categories', method='POST')
          input#add-form-add-category(
            type='text'
            name='title'
            placeholder='Новая категория'
            value=`${categoryData && !categoryId ? categoryData.title : ``}`
          )
          label(for='add-form-add-category')
            span.visually-hidden Добавить категорию
          button.category__button.button.button--category(type='submit') Добавить
        if error && !categoryId
          p.form__error-message= error.title.msg
      if categories.length > 0
        ul.category__list
          each category in categories
            li.category__list-item(style=`flex-wrap: wrap;`)
              form(
                action=`/categories/${category.id}`
                method='POST'
                style='flex-grow: 1; width: auto;'
              )
                input#modify-form-category-1(
                  type='text'
                  name='title'
                  value=`${categoryData && category.id === Number(categoryId) ? categoryData.title : category.title}`
                )
                label(for='modify-form-category-1')
                  span.visually-hidden Редактировать категорию
                button.category__button.button.button--category(type='submit') Сохранить
              if Number(category.articlesCount) === 0
                form(action=`/categories/${category.id}/delete` method="POST")
                  button.category__button.button.button--category(type='submit') Удалить
            if error && categoryId && category.id === Number(categoryId)
              p.form__error-message(style=`padding: 0 37px;`)= error.title.msg
