extends layout.pug

block content

  main
    section.modal.modal--flex
      .popup.popup--new-publication.popup--flex
        .new-publication
          form(
            action=`/articles/edit/${article.id}`
            method='POST'
            enctype="multipart/form-data"
            autocomplete="off"
          )
            .new-publication__header
              h1 Редактирование публикации
              .new-publication__date-form
                h3 Дата публикации
                .new-publication__date-form-division
                  .new-publication__date-block
                    label(for='new-publication-date' aria-label='Календарь')
                    input#new-publication-date(
                      type='text'
                      name='createdDate'
                      value=`${article.createdDate}`
                    )
              button.new-publication__button.button.button--colored(type='submit') Опубликовать
            button.popup__button.button.button--popup-close(
              type='button'
              aria-label='Закрыть окно'
              onclick='location = `/my`'
            ) Закрыть окно
            .new-publication__form.form
              .form__wrapper.form__wrapper--intro
                .form__field
                  label
                    input(type='text'
                      placeholder='Заголовок'
                      name='title'
                      value=`${articleData ? articleData.title : article.title}`
                    )
                if errors && errors.errorByField.title
                  p.form__error-message= errors.errorByField.title.msg
                .form__field.form__field--post-image
                  label
                    input#image-name-field(
                      type='text'
                      value=`${articleData && articleData.picture ? articleData.picture : article.picture ? article.picture : ``}`
                      placeholder='Фотография'
                      readonly=''
                    )
                  .form__image-loader.form__image-loader--publication
                    label
                      input.visually-hidden(type='file' name='picture')
                      | Обзор
                  button.button.button--transparent(type='button') Удалить
                if errors && errors.errorByField.picture
                  p.form__error-message= errors.errorByField.picture.msg
                .form__field-categories(style=`
                      display: flex;flex-wrap: wrap;
                      padding: 30px 0 0;
                      justify-content: flex-start;
                      align-items: center;`
                    )
                  each category in categories
                    .new-publication__checkbox.new-publication__checkbox--auto
                      input(
                        type='checkbox'
                        id=`checkbox-${category.id}`
                        name='categories'
                        value=category.id
                        checked=(
                          articleData && articleData.categories ?
                            articleData.categories.includes(String(category.id))
                            :
                            article.categories.some(({id}) => id === category.id)
                          )
                      )
                      label(for=`checkbox-${category.id}`)= category.title
                  a.new-publication__form-link.button.button--transparent(href='/categories') Добавить категорию
                if errors && errors.errorByField.categories
                  p.form__error-message= errors.errorByField.categories.msg
              .form__wrapper.form__wrapper--text
                .form__field.form__field--publication-text
                  label
                    textarea(
                      rows='2'
                      name='announce'
                      placeholder='Анонс публикации'
                    )= articleData ? articleData.announce : article.announce
                if errors && errors.errorByField.announce
                  p.form__error-message= errors.errorByField.announce.msg
                .form__field.form__field--publication-text
                  label
                    textarea(
                      rows='5'
                      name='fullText'
                      placeholder='Полный текст публикации'
                    )= articleData ? articleData.fullText : article.fullText
                if errors && errors.errorByField.fullText
                  p.form__error-message= errors.errorByField.fullText.msg
                input(type='hidden' name='_csrf' value=csrf)
              if errors && errors.errorsList.length > 0
                .form__validation-error
                  p.form__error-message При редактировании публикации произошли ошибки:
                  ul.form__errors
                    each error in errors.errorsList
                      li.form__error= error
      .modal__overlay

block scripts
  script(src='/js/vendor.js')
  script(src='/js/main.js')
