extends layout.pug

block content

  main
    section.post
      h1.visually-hidden Пост
      section.post__content
        h2.visually-hidden Основное содержание
        .post__wrapper
          .post__head
            a.post__backwards.button.button--backwards(href=`/`) Назад
            time.post__date(datetime=`${article.createdDate}`)= article.createdDate
            h2.post__title.title.title--main= article.title
            ul.post__themes.themes
              each category in article.categories
                li.themes__item
                  a.themes__item-link(href=`/articles/category/${category.id}`)= category.title
          if article.picture
            .post__picture
              img(src=`/img/${article.picture}` width=940 alt='Изображение статьи')
          .post__text
            h3= article.announce
            p= article.fullText
      .post__wrapper.post__wrapper--comments#comments
        section.post__comments.comments
          h2.comments__title.title.title--middle= article.comments.length > 0 ? `Комментарии` : `Комментарии отсутсвуют`
          if article.comments.length > 0
            ul.comments__list
              each comment in article.comments
                li.comments__comment
                  .comments__avatar.avatar
                    img(src=`/img/${comment.users.avatar}` alt='аватар пользователя')
                  .comments__text
                    .comments__head
                      p= `${comment.users.firstname} ${comment.users.lastname} •`
                      time.comments__date(datetime=`${comment.createdDate}`)= comment.createdDate
                    p.comments__message= comment.text
          .comments__footer.comments__footer--user
            form(action=`/articles/${article.id}/comments` method='POST')
              .comments__avatar.avatar
                img(src='img/avatar-2.png', alt='аватар пользователя')
              label
                textarea(
                  rows='1'
                  name='text'
                  placeholder='Присоединиться к обсуждению'
                )= commentData ? commentData.text : ``
              button.comments__button.button.button--colored(type='submit') Опубликовать
            //- .comments__footer.comments__footer--visitor
            //-   button.comments__button.button.button--colored(type='submit') Войти
            //-   .comments__registration
            //-     p.text.text--signature
            //-       b.title.title--small Регистрация
            //-       | Чтобы присоединиться к переписке нужно зарегистрироваться
            if errors && errors.length > 0
                .form__validation-error
                  p.form__error-message При создании комментария произошла ошибка:
                  ul.form__errors
                    each error in errors
                      li.form__error= error
