extends layout.pug
include partials/categories.pug
include partials/articles-list.pug

block content

  main.main-page
    h1.visually-hidden Главная страница личного блога Типотека
    p
      | Это приветственный текст, который владелец блога может выбрать, чтобы описать себя 👏
    if !articles || articles.length === 0
      .main-page__empty-wrapper
          p.main-page__empty-text
            | Здесь пока пусто!
    else
      +categories(categories)
      .main-page__section-flex
        section.main-page__hot.hot
          h2(class=`${mostDiscussedArticles.length > 0 ? 'hot__name' : 'hot__name hot__name--empty'} `) Самое обсуждаемое&nbsp;
            span.hot__icon.hot__icon--fire
          if mostDiscussedArticles.length > 0
            ul.hot__list
              each article in mostDiscussedArticles
                li.hot__list-item
                  a.hot__list-link(href=`/articles/${article.id}`)= truncateText(article.announce, 100)
                    sup.hot__link-sup= ` ${article.commentsCount}`
          else
            p.hot__empty Здесь пока ничего нет...
        section.main-page__last.last
          h2.last__name
            | Последние комментарии&nbsp;
            span.last__icon.last__icon--cloud
          if lastComments.length > 0
            ul.last__list
              each comment in lastComments
                li.last__list-item
                  img.last__list-image(src=`img/${comment.users.avatar}` width='20' height='20' alt='Аватар пользователя')
                  b.last__list-name= `${comment.users.firstname} ${comment.users.lastname}`
                  a.last__list-link(href=`/articles/${comment.articleId}/#comments`)= truncateText(comment.text, 100)
          else
            p.hot__empty Здесь пока ничего нет...
      section.main-page__list.preview
        h2.visually-hidden Список превью статей

        ul.preview__list
          each article in articles
            +articles-list(article)

